.route-enter
    opacity: 0.1
    transition: opacity 1s ease-in
.route-enter.route-enter-active
    opacity: 1

.route-leave
    opacity: 1
    transition: opacity 1s ease-in
.route-leave.route-leave-active
    opacity: 0.1
